body {
}

.logo {
    float: left;
    margin-left: -1px;
    padding: 1px;
    margin-top: 5px;
    text-align: center;
}

main {
    background-image: url("http://image.noelshack.com/fichiers/2015/04/1422063559-wolf-12.jpg");
    background-size: cover;
    width: 750px;
    height: 600px;
    margin-left: 201px;
    margin-top:-6.6px;
}

h4 {
    color: white;
    font-size: 30px;
    margin-left: 9px;
    margin-top: 11px;
}

.col-md-8 {
    margin-top: 10px;
    color: royalblue;
}

.col-md-2 control-label {
    margin-left: 90px;
}

dt {
    color: white;
    font-size: 15px;
}

dd {
    color: springgreen;
}

.form-group {
    margin-top: 20px;
    margin-left: 25px;
}

#Character_Name .form-control {
    margin-top: 40px;
    margin-left: 25px;
}
