@{
    ViewBag.Title = "Home Page";
    @Styles.Render("~/Content/home.css")

}

<div class="box">
    <div class="fullscreen">
        <div class="content">

        </div>
    </div>
 
    <h1> FEATURED VIDEOS</h1>
    <div class="video">
        <div id="vid-left">
            <iframe width="500" height="300" src="https://www.youtube.com/embed/npIj3LjeiM4?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div id="vid-mid">
            <iframe width="500" height="300" src="https://www.youtube.com/embed/3z_aTWhYWCw?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div id="vid-right">
            <iframe width="500" height="300" src="https://www.youtube.com/embed/GyCg6GS3izE?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div id="vid-l">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/2LFg_KDxR5I?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div id="vid-m">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/0pcqq-7MJSI?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div id="vid-r">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/nDzf-eDYKfo?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
</div>

